.counter {
  font-style: italic;
  display: block;
  top: 60px;
  right: 5px;
  border: 10px inset rgba(181, 232, 152, 0.63);
  position: fixed;
  border-radius: 99px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: white;
  background: #153215;
}
